{% load i18n %}
{% load assets %}
<!DOCTYPE html>
<html lang="en">
<head><title>Find your favorite recipe!</title>

  <!-- Add fancyBox -->
  <link rel="stylesheet" href="{{ STATIC_URL }}/lib/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />

  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
</head>
<body>

  <header>
    <section id="tagline">
      <h1>What should I cook tonight?</h1>
    </section>

    <section id="search">
      <form>
        <input id="keywords" class="q" type="text" name="q" values="" placeholder="{% trans 'Find recipe!' %}" autocomplete="off" />
        <button type="submit">Search!</button>
      </form>
    </section>
  </header>

  <div id="container">
  {% block content %}
  {% endblock %}
  </div>

  <footer>
    <section class="powered_by">
      <div>Powered by <a href="https://developer.yummly.com/">Yummly</a> recipe API.</div>
    </section>
    <section class="links">
      <ul>
        <li><a href="https://github.com/ShulliDrake/recipe_search">GitHub</a></li>
        <li><a href="mailto:nozomi@yawnneko.com">Contact</a></li>
      </ul>
    </section>
  </footer>

  {% block templates %}
  {% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="{{ STATIC_URL }}/lib/jquery.fancybox.pack.js?v=2.1.4"></script>
  {% assets "js_all" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
