{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <section id="tagline">
    <h1>What should I cook tonight?</h1>
  </section>

  <div class="content">
    <section id="search">
      <form>
        <input id="keywords" class="q" type="text" name="q" values="" placeholder="{% trans 'Find recipe!' %}" autocomplete="off" />
        <button type="submit">Search!</button>
      </form>
    </section>

    <section id="result">
      <ul></ul>{# TODO #}
    </section>
  </div>
{% endblock %}

{% block templates %}
  {% include "recipe_list_template.html" %}
  {% include "error_template.html" %}
{% endblock %}
