{% load i18n %}
<script type="text/template" id="recipeItemTemplate">
  <a href="#"><img src="<%= smallImageUrls[0] %>" /></a>
  <div class="board">
    <div class="name"><%= recipeName %></div>
    <div class="ingredients"><span class="label">{% trans "Ingredients:" %}</span> <%= ingredients%></div>
    <div class="source"><span class="label">{% trans "From:"%}</span> <%= sourceDisplayName %></div>
    <div class="rating"><span class="star<%= rating %>"></span></div>
  </div>
</script>

<script type="text/template" id="fancyboxTemplate">
  <h1 class="heading"><%= recipeName %></h1>
  <div class="main">
    <img src="<%= imageUrl %>" />
    <div class="ingredients">
      <p>Servings: <%= servings %></p>
      <ul>
      <% _.each(ingredientList, function(item){ %>
        <li><%= item %></li>
      <% }); %>
      </ul>
    </div>
  </div>
  <div class="source">
    <a href="<%= sourceUrl %>" target="_blank"><%= source %></a>
  </div>
</script>
