$pink-text:#FA5858;

*{
  padding:0;
  margin:0;
}
body {
  font-family:Arial,Helvetica,sans-serif;
  font-size:1em;
  background-image:url('/static/img/radish.jpg'), url('/static/img/pear.jpg');
  background-repeat:no-repeat, no-repeat;
  background-position:right top, left bottom;
  background-attachment:fixed;
}
a {
  color:$pink-text;
  text-decoration:none;
}
a:visited {
}
a:active {
}
ul, ol {
  list-style:none;
}
h1, h2 {
  color:$pink-text;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-shadow:#6E6E6E 0.1em 0.1em 0.1em;
  margin-bottom:10px;
}
h2 {
  font-size:1em;
}
input {
  color:#3c3c3c;
  padding:5px;
  border:1px solid #aaa;
  border-radius:3px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.2),0 0 0 #000;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.2),0 0 0 #000;
}

/****************/
#container {
  width:900px;
  max-width:1200px;

  section {
    margin-left:30px;
  }
}

#tagline {
  margin:30px 0 0 110px;
}

#search {
  width:350px;
  padding:0 10px;
  margin:0 0 20px 100px;

  input.q {
    width:250px;
    font-size:0.9em;

  }

  button {
    color:#fff;
    text-shadow: 2px 1px 1px rgba(0,0,0,.7);
    font-size:0.9em;
    font-weight:bold;
    border:1px solid #fdfdfd;
    border-radius:5px;
    padding:6px 10px;
    background: #82FA58;
    background: -webkit-gradient(linear, left top, left bottom, from(#82FA58), to(#5FB404));
    background: -webkit-linear-gradient(top, #82FA58, #5FB404);
    background: -moz-linear-gradient(top, #82FA58, #5FB404);
    background: -ms-linear-gradient(top, #82FA58, #5FB404);
    background: -o-linear-gradient(top, #82FA58, #5FB404);
  }
}

#result {
  padding:10px;
  border-radius:12px;
  font-size:0.8em;
  color:#333;

  ul {
    overflow:auto;
    padding:15px 0 0 15px;
  }
  li {
    width:380px;
    background: rgb(255, 255, 255) transparent; /* fallback */
    background: rgba(255, 255, 255, 0.8); /* nice browsers */

    box-shadow:0 0 5px #ff6666;
    border-radius:20px;
    margin:0 15px 15px 0;
    padding: 10px;
    float:left;

    a.thumbnail {
      float:left;
      margin-top:8px;
      margin-right:5px;

      img {
        display:block;
      }
    }
    a.thumbnail:hover {
      box-shadow:0 0 5px $pink-text;
    }
  }

  .board {
    display:inline-block;
    width:250px;
    min-height:87px;
    padding:7px;
    font-size:0.9em;

    .name {
      color:#DF3C3C;
      font-size:1.2em;
      font-style:italic;
      font-weight:bold;
      text-shadow:#ccc 1px 1px;
      padding-bottom:5px;
      margin-top:-3px;
      a:hover {
        text-decoration:underline;
      }
    }
    .source {
      margin-top:3px;
    }
    .rating {
      padding-top:5px;
      span {
        display:block;
        width:76px;
        height:17px;
        background:url('/static/img/stars.png') no-repeat;
      }
      .star4 {
        background-position:center -17px;
      }
      .star3 {
        background-position:center -32px;
      }
      .star2 {
        background-position:center -48px;
      }
      .star1 {
        background-position:center -64px;
      }
    }
    .ingredients {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .label {
      font-weight:bold;
    }

  }
}

/* fancybox */
.fancybox-overlay {
    background: rgb(0, 0, 0) transparent; /* fallback */
    background: rgba(0, 0, 0, 0.8); /* nice browsers */
}
.fancybox-skin {
  .heading {
    font-size:1.5em;
  }

  .main {
    margin-top:10px;
    overflow:auto;
    img {
      float:left;
      padding-right:15px;
    }
  }

  .serving {
    font-size:0.8em;
    font-weight:bold;
    padding-top:10px;
  }

  .time {
    padding-top:10px;
    font-weight:bold;
    font-size:0.8em;
  }

  .ingredients {
    font-size:0.9em;
    line-height:1.3em;
    overflow:auto;
    ul {
      font-size:0.8em;
      li {
        border-bottom:1px dotted #a3a3a3;
        padding:2px;
      }
    }
  }

  .source {
    margin-top:10px;
  }

  .label {
    font-size:0.8em;
    font-style:italic;
    font-weight:bold;
  }
}

.no_results {
  width:500px;
  padding:25px 10px;
  border-radius:7px;
  background: rgb(255, 255, 255) transparent; /* fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
}