/* line 3 */
* {
  padding: 0;
  margin: 0;
}

/* line 7 */
body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  background: url("/static/img/bg.png") repeat;
}

/* line 12 */
a {
  color: #fa5858;
  text-decoration: none;
}

/* line 20 */
ul, ol {
  list-style: none;
}

/* line 23 */
h1, h2 {
  color: #fa5858;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-bottom: 10px;
}

/* line 28 */
h2 {
  font-size: 1em;
}

/* line 31 */
input {
  color: #3c3c3c;
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 0 black;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 0 black;
}

/****************/
/* line 41 */
header {
  background-color: #fb9393;
  padding: 10px;
  box-shadow: 0px 2px 3px 0px #a0a0a0;
  -webkit-box-shadow: 0px 2px 3px 0px #a0a0a0;
}
/* line 46 */
header section {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* line 53 */
#container {
  width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 60 */
#tagline h1 {
  color: #fff;
  text-shadow: #7a7a7a 0.1em 0.1em 0.1em;
}

/* line 66 */
#search {
  width: 350px;
  padding: 0 10px;
}
/* line 70 */
#search input.q {
  width: 250px;
  font-size: 0.9em;
}
/* line 76 */
#search button {
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #fa5858;
  border-radius: 5px;
  padding: 6px 10px;
  background: #fa5858;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb9d9d), to(#fa5858));
  background: -webkit-linear-gradient(top, #fb9d9d, #fa5858);
  background: -moz-linear-gradient(top, #fb9d9d, #fa5858);
  background: -ms-linear-gradient(top, #fb9d9d, #fa5858);
  background: -o-linear-gradient(top, #fb9d9d, #fa5858);
}

/* line 94 */
#result {
  padding: 10px;
  border-radius: 12px;
  font-size: 0.8em;
  color: #333;
}
/* line 100 */
#result ul {
  overflow: auto;
  padding: 15px 0 0 15px;
}
/* line 104 */
#result li {
  width: 380px;
  background: white transparent;
  /* fallback */
  background: rgba(255, 255, 255, 0.8);
  /* nice browsers */
  box-shadow: 0 0 5px #ff6666;
  border-radius: 20px;
  margin: 0 15px 15px 0;
  padding: 10px;
  float: left;
}
/* line 115 */
#result li a.thumbnail {
  float: left;
  margin-top: 8px;
  margin-right: 5px;
}
/* line 120 */
#result li a.thumbnail img {
  display: block;
}
/* line 124 */
#result li a.thumbnail:hover {
  box-shadow: 0 0 5px #fa5858;
}
/* line 129 */
#result .board {
  display: inline-block;
  width: 250px;
  min-height: 87px;
  padding: 7px;
  font-size: 0.9em;
}
/* line 136 */
#result .board .name {
  color: #DF3C3C;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  text-shadow: #cccccc 1px 1px;
  padding-bottom: 5px;
  margin-top: -3px;
}
/* line 144 */
#result .board .name a:hover {
  text-decoration: underline;
}
/* line 148 */
#result .board .source {
  margin-top: 3px;
}
/* line 151 */
#result .board .rating {
  padding-top: 5px;
}
/* line 153 */
#result .board .rating span {
  display: block;
  width: 76px;
  height: 17px;
  background: url("/static/img/stars.png") no-repeat;
}
/* line 159 */
#result .board .rating .star4 {
  background-position: center -17px;
}
/* line 162 */
#result .board .rating .star3 {
  background-position: center -32px;
}
/* line 165 */
#result .board .rating .star2 {
  background-position: center -48px;
}
/* line 168 */
#result .board .rating .star1 {
  background-position: center -64px;
}
/* line 172 */
#result .board .ingredients {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 177 */
#result .board .label {
  font-weight: bold;
}

/* fancybox */
/* line 185 */
.fancybox-overlay {
  background: black transparent;
  /* fallback */
  background: rgba(0, 0, 0, 0.8);
  /* nice browsers */
}

/* line 190 */
.fancybox-skin .heading {
  font-size: 1.5em;
}
/* line 194 */
.fancybox-skin .main {
  margin-top: 10px;
  overflow: auto;
}
/* line 197 */
.fancybox-skin .main img {
  float: left;
  padding-right: 15px;
}
/* line 203 */
.fancybox-skin .serving {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 10px;
}
/* line 209 */
.fancybox-skin .time {
  padding-top: 10px;
  font-weight: bold;
  font-size: 0.8em;
}
/* line 215 */
.fancybox-skin .ingredients {
  font-size: 0.9em;
  line-height: 1.3em;
  overflow: auto;
}
/* line 219 */
.fancybox-skin .ingredients ul {
  font-size: 0.8em;
}
/* line 221 */
.fancybox-skin .ingredients ul li {
  border-bottom: 1px dotted #a3a3a3;
  padding: 2px;
}
/* line 228 */
.fancybox-skin .source {
  margin-top: 10px;
}
/* line 232 */
.fancybox-skin .label {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}

/* line 239 */
.no_results {
  width: 500px;
  padding: 25px 10px;
  border-radius: 7px;
  background: white transparent;
  /* fallback */
  background: rgba(255, 255, 255, 0.8);
  /* nice browsers */
}
