/* line 1 */
* {
  padding: 0;
  margin: 0;
}

/* line 5 */
body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  background-image: url("/static/img/radish.jpg"), url("/static/img/pear.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-attachment: fixed;
}

/* line 13 */
a {
  color: #FA5858;
  text-decoration: none;
}

/* line 21 */
ul, ol {
  list-style: none;
}

/* line 24 */
h1, h2 {
  color: #FA5858;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-shadow: #6e6e6e 0.1em 0.1em 0.1em;
  margin-bottom: 10px;
}

/* line 30 */
h2 {
  font-size: 1em;
}

/* line 33 */
input {
  padding: 3px 5px;
}

/****************/
/* line 38 */
#container {
  width: 900px;
  max-width: 1200px;
}
/* line 42 */
#container section {
  margin-left: 30px;
}

/* line 47 */
#tagline {
  margin: 30px 0 0 110px;
}

/* line 51 */
#search {
  width: 350px;
  padding: 0 10px;
  margin: 0 0 20px 100px;
}
/* line 56 */
#search input.q {
  width: 250px;
  font-size: 0.9em;
}
/* line 61 */
#search button {
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #fdfdfd;
  border-radius: 5px;
  padding: 5px 7px;
  background: #82FA58;
  background: -webkit-gradient(linear, left top, left bottom, from(#82fa58), to(#5fb404));
  background: -webkit-linear-gradient(top, #82fa58, #5fb404);
  background: -moz-linear-gradient(top, #82fa58, #5fb404);
  background: -ms-linear-gradient(top, #82fa58, #5fb404);
  background: -o-linear-gradient(top, #82fa58, #5fb404);
}

/* line 78 */
#result {
  padding: 10px;
  border-radius: 12px;
  font-size: 0.8em;
  color: #333;
}
/* line 84 */
#result ul {
  overflow: auto;
  padding: 15px 0 0 15px;
}
/* line 88 */
#result li {
  width: 380px;
  background: white transparent;
  /* fallback */
  background: rgba(255, 255, 255, 0.8);
  /* nice browsers */
  box-shadow: 0 0 5px #ff6666;
  border-radius: 20px;
  margin: 0 15px 15px 0;
  padding: 10px;
  float: left;
}
/* line 99 */
#result li a {
  float: left;
  margin-top: 8px;
  margin-right: 5px;
}
/* line 106 */
#result .board {
  display: inline-block;
  width: 250px;
  min-height: 60px;
  padding: 10px;
  font-size: 0.9em;
}
/* line 114 */
#result .board .name {
  color: #DF3C3C;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  text-shadow: #cccccc 1px 1px;
  padding-bottom: 5px;
  margin-top: -3px;
}
/* line 123 */
#result .board .source {
  margin-top: 3px;
}
/* line 126 */
#result .board .rating {
  padding-top: 5px;
}
/* line 128 */
#result .board .rating span {
  display: block;
  width: 76px;
  height: 17px;
  background: url("/static/img/stars.png") no-repeat;
}
/* line 134 */
#result .board .rating .star4 {
  background-position: center -17px;
}
/* line 137 */
#result .board .rating .star3 {
  background-position: center -32px;
}
/* line 140 */
#result .board .rating .star2 {
  background-position: center -48px;
}
/* line 143 */
#result .board .rating .star1 {
  background-position: center -64px;
}
/* line 147 */
#result .board .ingredients {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 152 */
#result .board .label {
  font-weight: bold;
}

/* fancybox */
/* line 160 */
.fancybox-overlay {
  background: black transparent;
  /* fallback */
  background: rgba(0, 0, 0, 0.8);
  /* nice browsers */
}

/* line 165 */
.fancybox-skin .heading {
  font-size: 1.5em;
}
/* line 169 */
.fancybox-skin .main {
  margin-top: 10px;
  overflow: auto;
}
/* line 172 */
.fancybox-skin .main img {
  float: left;
  padding-right: 15px;
}
/* line 178 */
.fancybox-skin .serving {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 10px;
}
/* line 184 */
.fancybox-skin .ingredients {
  font-size: 0.9em;
  line-height: 1.3em;
  overflow: auto;
}
/* line 188 */
.fancybox-skin .ingredients ul {
  font-size: 0.8em;
}
/* line 190 */
.fancybox-skin .ingredients ul li {
  border-bottom: 1px dotted #a3a3a3;
  padding: 2px;
}
/* line 197 */
.fancybox-skin .source {
  margin-top: 10px;
}
/* line 201 */
.fancybox-skin .label {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}
